@use '../../variables/variables' as v;
$color-text: #1d1d1d;
$color-red: #c53720;

section.askQuestion {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(../../../img/jpg/question.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 88px 15px;


        h2 {

            width: fit-content;
            margin: 0 auto;
            padding: 10px;
            font-size: 36px;
            text-transform: uppercase;
            text-align: center;
            font-family: v.$boldFont;
            color: rgb(255, 255, 255);
            border-bottom: $color-red 4px solid;
            margin-bottom: 34px;
            padding-bottom: 8px;
        }

        >p {
            font-family: v.$boldFont;
            font-size: 24px;
            color: rgb(255, 255, 255);
            text-align: center;
            margin-bottom: 36px;
        }

        form {
            display: flex;
            flex-direction: column;
            max-width: 650px;
            width: 100%;


            label {
                display: flex;
                align-items: center;
                margin-top: 9px;
                margin-bottom: 8px;
                color: rgb(255, 255, 255);

                sup {
                    color: $color-red;
                }

                >span {

                    color: rgb(255, 255, 255);
                    gap: 6px;
                    height: 100%;

                    a {
                        color: $color-red;


                        position: relative;





                    }
                }

                cursor: pointer;
            }

            input#pesonaldata {
                display: none;
            }

            label[for="pesonaldata"] {
                margin: 40px 0;
                gap: 6px;
                user-select: none;


                a:hover {
                    text-decoration: underline;

                }

                @media screen and (max-width: 498px) {
                    display: grid;
                    grid-template-columns: 64px 1fr;
                    gap: 0;

                    &::before {
                        grid-row: 1/3;
                        width: 64px;
                        height: 64px;
                    }

                    >span {
                        flex-direction: column;
                        gap: 0;
                        align-items: flex-start;
                        justify-content: center;
                    }

                }

            }

            label[for="pesonaldata"]::before {
                content: "⯀";
                display: flex;
                justify-content: center;
                align-items: center;

                line-height: 0;
                color: $color-red;

                width: 36px;
                height: 36px;
                margin-right: 16px;
                background-color: #fff;
                align-items: center;
                box-sizing: border-box;
                font-size: 0px;
                transition: 0.1s cubic-bezier(0.75, 0.7, 0.7, 1.35);
            }

            input#pesonaldata:checked+label[for="pesonaldata"]::before {

                font-size: 25px;

            }

            @media screen and (max-width: 498px) {
                label[for="pesonaldata"] {
                    display: grid;
                    grid-template-columns: 48px 1fr;
                    gap: 0 4px;
                    align-items: end;

                    a {
                        align-self: start;
                    }

                    &::before {
                        grid-row: 1/2;
                        width: 48px;
                        height: 48px;
                    }

                }

                input#pesonaldata:checked+label[for="pesonaldata"]::before {

                    font-size: 50px;

                }
            }

            input#pesonaldata:user-invalid+label[for="pesonaldata"]::before {
                border: 4px solid $color-red;
            }

            input[type="text"],
            textarea {
                font-family: v.$mainFont;
                color: #000;
                padding: 10px;

                &:focus {
                    outline: none;
                }

                resize: none;
            }

            input[type="text"]:user-invalid {
                border: 4px solid $color-red;
            }

            textarea {
                height: 120px;
            }

            .formBottom {
                display: grid;
                grid-template-columns: 175px 1fr 175px;
                align-items: center;

                p {
                    grid-column: 1/2;
                    font-size: 16px;
                    color: $color-red;
                }

                button {
                    grid-column: 3/4;
                    color: rgb(255, 255, 255);
                    font-size: 12px;
                }

                @media screen and (max-width: 400px) {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}