@font-face {
  font-family: GeometriaMedium;
  src: url("../fonts/Geometria.ttf");
}
@font-face {
  font-family: GeometriaBold;
  src: url("../fonts/Geometria-Bold.ttf");
}
section.licens {
  background: rgb(237, 237, 237);
}
section.licens .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 88px 15px;
}
section.licens .container h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-family: "GeometriaBold", sans-serif;
  color: rgb(29, 29, 29);
  border-bottom: #c53720 4px solid;
  margin-bottom: 34px;
  padding-bottom: 8px;
}
section.licens .container .wrapCards {
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content, 360px));
  gap: 24px;
}
@media screen and (max-width: 800px) {
  section.licens .container .wrapCards {
    grid-template-columns: repeat(2, minmax(max-content, 360px));
  }
  section.licens .container .wrapCards .shell {
    order: -1;
  }
}
@media screen and (max-width: 800px) and (max-width: 625px) {
  section.licens .container .wrapCards {
    grid-template-columns: repeat(1, minmax(max-content, 360px));
  }
}
section.licens .container .wrapCards .card {
  display: grid;
  grid-template-rows: 1fr 120px;
  justify-items: center;
  padding: 44px 24px;
}
section.licens .container .wrapCards .card p {
  font-size: 24px;
  color: rgb(29, 29, 29);
  width: 100%;
  text-align: center;
}
section.licens .container .wrapCards .shell {
  display: block;
  position: relative;
}
section.licens .container .wrapCards .shell .newWrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #c53720;
  -webkit-clip-path: polygon(evenodd, 40px 0, 0 40px, 0 100%, calc(100% - 40px) 100%, 100% calc(100% - 40px), 100% 0, 40px 0, 40px 4px, 41px 4px, 4px 41px, 4px calc(100% - 4px), calc(100% - 41px) calc(100% - 4px), calc(100% - 4px) calc(100% - 41px), calc(100% - 4px) 4px, 40px 4px);
          clip-path: polygon(evenodd, 40px 0, 0 40px, 0 100%, calc(100% - 40px) 100%, 100% calc(100% - 40px), 100% 0, 40px 0, 40px 4px, 41px 4px, 4px 41px, 4px calc(100% - 4px), calc(100% - 41px) calc(100% - 4px), calc(100% - 4px) calc(100% - 41px), calc(100% - 4px) 4px, 40px 4px);
}
section.licens .container .wrapCards .shell .transpWrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: rgb(29, 29, 29);
  -webkit-clip-path: polygon(41px 4px, 4px 41px, 4px calc(100% - 4px), calc(100% - 41px) calc(100% - 4px), calc(100% - 4px) calc(100% - 41px), calc(100% - 4px) 4px);
          clip-path: polygon(41px 4px, 4px 41px, 4px calc(100% - 4px), calc(100% - 41px) calc(100% - 4px), calc(100% - 4px) calc(100% - 41px), calc(100% - 4px) 4px);
}
section.licens .container .wrapCards .shell .wrapCard {
  position: relative;
  z-index: 2;
}
section.licens .container .wrapCards .shell .wrapCard img {
  z-index: 2;
}
section.licens .container .wrapCards .shell .wrapCard p {
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=licens.css.map */