@charset "UTF-8";
@font-face {
  font-family: GeometriaMedium;
  src: url("../fonts/Geometria.ttf");
}
@font-face {
  font-family: GeometriaBold;
  src: url("../fonts/Geometria-Bold.ttf");
}
section.service .container {
  flex-direction: column;
  padding-bottom: 88px;
  padding-top: 88px;
}
section.service .container > h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-family: "GeometriaBold", sans-serif;
  color: #1d1d1d;
  border-bottom: #c53720 4px solid;
  margin-bottom: 34px;
  padding-bottom: 8px;
}
section.service .container .smallBanner {
  background: linear-gradient(86deg, rgba(0, 0, 0, 0.8) 0.155%, rgba(0, 0, 0, 0) 99.82%), url(../../../img/jpg/service/smallBannerDiagnostic.jpeg);
  background-position: right;
  height: 190px;
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 32px;
}
@media screen and (max-width: 460px) {
  section.service .container .smallBanner {
    justify-content: center;
    text-align: center;
  }
  section.service .container .smallBanner h3 {
    font-size: 8vw;
  }
}
section.service .container .tradeBanner {
  background: linear-gradient(86deg, rgba(0, 0, 0, 0.8) 0.155%, rgba(0, 0, 0, 0) 99.82%), url(../../../img/jpg/service/smallBannertTrade.jpeg);
}
section.service .container .textWrap {
  margin: 36px 0;
}
section.service .container .textWrap p {
  color: rgb(29, 29, 29);
}
section.service .container ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
section.service .container ul li {
  color: #c53720;
  border-bottom: rgba(29, 29, 29, 0.4) 4px solid;
  padding: 6px 0;
  cursor: pointer;
}
section.service .container ul li:hover {
  background-color: rgba(29, 29, 29, 0.05);
}
section.service .container ul .active {
  color: #c53720;
  border-bottom: #c53720 4px solid;
}
section.service .container .formWrap {
  display: grid;
  grid-template-columns: 1fr 456px;
  gap: 24px;
  margin-top: 52px;
}
section.service .container .formWrap form {
  display: flex;
  flex-direction: column;
}
section.service .container .formWrap form > p {
  color: #1d1d1d;
  font-size: 20px;
  margin-bottom: 28px;
}
section.service .container .formWrap form label {
  display: flex;
  align-items: center;
  margin-top: 9px;
  margin-bottom: 8px;
  color: #1d1d1d;
  cursor: pointer;
}
section.service .container .formWrap form label sup {
  color: #c53720;
}
section.service .container .formWrap form label > span {
  display: flex;
  align-items: center;
  color: #1d1d1d;
  gap: 6px;
  height: 100%;
}
section.service .container .formWrap form label > span a {
  color: #c53720;
  position: relative;
}
section.service .container .formWrap form label > span a sup {
  position: absolute;
  top: 0;
  right: -10px;
}
section.service .container .formWrap form input#pesonaldata {
  display: none;
}
section.service .container .formWrap form label[for=pesonaldata] {
  margin: 40px 0;
  gap: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
section.service .container .formWrap form label[for=pesonaldata] a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 498px) {
  section.service .container .formWrap form label[for=pesonaldata] {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 0;
  }
  section.service .container .formWrap form label[for=pesonaldata]::before {
    grid-row: 1/3;
    width: 64px;
    height: 64px;
  }
  section.service .container .formWrap form label[for=pesonaldata] > span {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    justify-content: center;
  }
}
section.service .container .formWrap form label[for=pesonaldata]::before {
  content: "⯀";
  line-height: 0;
  color: #c53720;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-right: 16px;
  align-items: center;
  box-sizing: border-box;
  font-size: 0px;
  transition: 0.1s cubic-bezier(0.75, 0.7, 0.7, 1.35);
}
section.service .container .formWrap form input#pesonaldata:checked + label[for=pesonaldata]::before {
  font-size: 25px;
}
@media screen and (max-width: 498px) {
  section.service .container .formWrap form label[for=pesonaldata] {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 0 4px;
    align-items: end;
  }
  section.service .container .formWrap form label[for=pesonaldata] a {
    align-self: start;
  }
  section.service .container .formWrap form label[for=pesonaldata]::before {
    grid-row: 1/2;
    width: 48px;
    height: 48px;
  }
  section.service .container .formWrap form input#pesonaldata:checked + label[for=pesonaldata]::before {
    font-size: 50px;
  }
}
section.service .container .formWrap form input#pesonaldata:user-invalid + label[for=pesonaldata]::before {
  border: 4px solid #c53720;
}
section.service .container .formWrap form input[type=text],
section.service .container .formWrap form textarea {
  font-family: "GeometriaMedium", sans-serif;
  color: #000;
  border: 4px solid rgb(29, 29, 29);
  padding: 10px;
  resize: none;
}
section.service .container .formWrap form input[type=text]:focus,
section.service .container .formWrap form textarea:focus {
  outline: none;
}
section.service .container .formWrap form input[type=text]:user-invalid {
  border: 4px solid #c53720;
}
section.service .container .formWrap form textarea {
  height: 120px;
}
section.service .container .formWrap form .formBottom {
  display: grid;
  grid-template-columns: 175px 1fr 175px;
  align-items: center;
}
section.service .container .formWrap form .formBottom p {
  grid-column: 1/2;
  font-size: 16px;
  color: #c53720;
}
section.service .container .formWrap form .formBottom button {
  grid-column: 3/4;
  color: #c53720;
  font-size: 12px;
}
@media screen and (max-width: 400px) {
  section.service .container .formWrap form .formBottom {
    display: flex;
    flex-direction: column;
  }
}
section.service .container .formWrap .formimg {
  background: url(../../../img/jpg/service/formCarMan.jpeg);
  background-repeat: no-repeat;
  background-position-y: 90px;
  transition: 0.2s;
}
section.service .container .formWrap .question {
  background: url(../../../img/jpg/service/formDiagnosticMan.jpeg);
  background-repeat: no-repeat;
  background-position-y: 90px;
}
@media screen and (max-width: 980px) {
  section.service .container .formWrap {
    grid-template-columns: 1fr;
  }
  section.service .container .formWrap .formimg {
    display: none;
  }
}/*# sourceMappingURL=service.css.map */