@use "../variables/variables" as v;
.mainBanner{
    background-image: url("../../img/jpg/mainBanner.jpg");
    background-position: center;
    background-size: cover;
}


$text-width: 586px;
$text-height: 172px;
.banner{
    .container{
        flex-direction: column;
        padding-top: 255px;
        gap: 52px;
        h1{
            font-family: v.$boldFont;
            width: $text-width;
            height: $text-height;
            font-weight: 700;
            font-size: 48px;
        }
        .button{
            width: 216px;
            margin-bottom: 189px;
        }
        @media  screen and (max-width: 840px){
            align-items: center;
            text-align: center;
            @media screen and (max-width: 640px){
                h1{
                    width: 100%;
                    height: auto;
                    font-size: 7vw;
                }
                
            }
            
        }
    }
}