*{
    box-sizing: border-box;
    
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.header{
    height: 85px;
    width: 100%;
}



.container{
    width: 1200px;
    
    margin: 0 auto;
    
}
a{
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}
.logo{
    float: left;
    padding: 10px;

}
.list {
    float: left;

    margin-left: 86px;


}
.feedback{
    float: right;
    padding: 21px;


}


.item{
    float: left;
    margin: 33px 15px;
}

.item--active>a{
    font-weight: 600;
    color: red;
}

.button{
    float: left;
    width: 162px;
    height: 39px;
    font-weight: 500;
    padding: 12px;
    text-align: center;

    border: 1px solid #6a6a6a;
    border-radius: 30px;

    margin-right: 30px;
}
.calls{
    float: left;
    margin-right: 49px;

}


.feedback svg{
    margin: 5px 2px;
}


/* content */

h1{
    font-weight: 800;
    font-size: 128px;
    line-height: 105%;
    text-align: center;
    margin: 0;
    margin-top: 157px;
    color: #fff

}
h2{
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-top: 38px;
}
.content{
    height: 995px;
    width: 100%;
    background-image: url("../assets/wallpapers2.png");
    background-position: 50% -85px;
    background-repeat: no-repeat;

    overflow: hidden;

}
