*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, footer{


    text-transform: uppercase;
    background-color: aqua;
    padding: 10px;
    color: blue;
    text-align: center;
}


main{
    display: grid;
    grid-template-columns: 1fr 3fr;

}


aside.menu{
    display: grid;
    grid-template-rows: 65px 1fr;

    background-color: yellow;
    
    white-space: nowrap;
    
}
aside.menu p{
    padding: 10px;
    padding-top: 20px;
    
    font-weight: 900;

}

main aside.menu ul{
    display: grid;
    grid-template-columns: 1fr; 
}
main aside.menu ul li{
    list-style: disc;
    list-style-position: inside;
    padding-left: 20px;
    padding-right: 10px;

}


article.text{
    display: grid;
    grid-template-rows: 65px 1fr;
    
    background: url("ball.png") repeat-y right top;
}

article.text section{
    padding: 30px;
    padding-top: 0px;

    

}
article.text h2{
    text-transform: uppercase;
    text-align: center;
    margin: 20px; 
}
article.text p{
    padding: 10px;
    padding-top: 0px;
    padding-left: 0px;

    font-size: larger;

   
}
article.text section img{
    float: left;
    width: 400px;
    margin-right: 15px;
    
}

@media screen and (max-width: 700px){
    article.text section img{
        float: none;
        width: 100%;
        margin-right: 0px;
    }
    main aside.menu ul{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9,  20px);;
    }
    
}
@media screen and (max-width: 500px){ 
    main{
        grid-template-columns: 1fr;
        
    }
    aside.menu{
        background-color: white;
        grid-row: 2;
    }
    article.text{
        background: none;
        grid-row: 1;
    }
    header, footer{
        display: none;
    }
    main aside.menu ul{
        margin-bottom: 20px;
        padding: 0 ;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 30px);
        text-align: center; 
    }
    main aside.menu ul li{
        list-style: none;
        padding: 0;
        padding-right: 10px;


    }
    aside.menu p{
        font-size: 26px;
        padding: 0 30px;
    }
}